body, html {background:rgb(9,13,43)}
/* design */
header {
    height:80px; width:1400px; margin:0 auto;
    display:flex; justify-content:space-between;
    align-items:center; z-index:999;
    position:fixed; left:50%; top:0; margin-left:-700px;
}
header nav a {margin:0 7px;}
header .right a {
    position:relative; padding:5px 5px 5px 27px;
    border:1px dashed rgba(255,255,255,0.6); 
    font-size:0.875rem; border-radius:3px;
}
header .right a::before {
    content:''; display:block;
    position:absolute; left:2px; top:3px;
    width:20px; height:20px;
    background-image:url(../images/ic_sp_store.png);
}

}
header .right a:first-child::before {background-position:0 0;}
header .right a:last-child::before {background-position:-20px 0;}
.mobile_nav_icon {display:none;}
/* main */
main {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    top: 80px;
    text-align: center;
}
main::before, main::after {
    content: ''; display: block;/* before, after 가상요소 ★필수속성 */
    position: absolute;/* 형제랑 겹치는 위치 순서 */
    height: 100%; width: 50%;/* 부모에 상대적인 크기 */
    z-index: 29;/* 형제와 겹치는 중첩순서 */
    top: 0;/*  좌표설정 */
}
main::before {
    left: 0; 
    background: linear-gradient(90deg, rgb(9, 13, 43), transparent);
    /* background-color: aquamarine; 구분목적 배경색상 */
}
main::after {
    right: 0;
    background: linear-gradient(-90deg, rgb(9, 13, 43), transparent);
}
main > * {max-width:1400px; margin:0 auto;}
/* 중첩순서 처리 배경(10) 그라디언트(20) 나머지(30) */
main .bg_wrap {position:absolute; z-index:10;}
main .txt, main .car_list, main .car, main .scroll {
    width:1400px; margin:0 auto; position:relative; z-index:30;
}
/* 메인배경 */
main .bg_wrap .bg {width:1400px; margin:0 auto;}
main .bg_wrap .bg1 {
    height:100px; 
    background:url(../images/bg_cloud.png) repeat-x;
    animation: bg_pst 100s linear infinite;
}
main .bg_wrap .bg2 {
    height:200px; 
    background:url(../images/bg_city1.png) repeat-x;
    animation: bg_pst 30s linear infinite;

}
main .bg_wrap .bg3 {
    height:100px; position:relative; top:-96px;
    background:url(../images/bg_city2.png) repeat-x;
    animation: bg_pst 15s linear infinite;
}
/* 메인제목 */
main .txt {}
/* 메인 자동차 위 리스트3 */
/* 메인 자동차 */
main .car {
    margin-top:150px; text-align:center; width:600px;
    animation: x1000 1s ease both;
}
main .car #car {width:100%;}
main .car #left_tire, main .car #right_tire {
    position:absolute; bottom:25px; width:67px;
    animation: rotate360 linear 1s infinite;
}
main .car #left_tire {left:102px;}
main .car #right_tire {right:91px;}
main .scroll {animation: up_down 1s alternate infinite;}
footer {
    height: 200px; color: #fff;
    background: linear-gradient(90deg, purple, transparent, brown, black, rgba(255,255,255,0.5));
}