.title {
    background-color: paleturquoise;
    width: 350px; margin: 50px auto 0;
    /* flex속성은 정렬하고자 하는 대상의 부모에게 명령 시작 */
    display: flex;
    /* flex 기본값 메인축(수평)정렬 */
    /* 메인축 정렬속성 */
    justify-content: space-between;
    padding: 0 10px;
    /* 교차축 정렬 속성(1줄일때) */
    align-items: center;
}
.title h1 {font-size: 1.2rem;}
.title .more {font-size: 0.75rem;}
.contents {
    background-color:beige;
    width: 350px; height: calc(50px * 3);
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    /* flex-flow 1. 메인축 방향 2. 교차축 방향 */
    /* flex-wrap: wrap; flex-direction: column; */
    justify-content: flex-end;
    align-content: space-between;
    /* flex 전용 여백(item사이에만 적용) */
    /* gap: 10px; */
}
.contents li {
    width: calc((100% - 15px) / 4);
    height: 50px;
}
.contents li:nth-child(odd) {background-color: yellow;}
.contents li:nth-child(even) { background-color: greenyellow;}