body {
    height: 200vh;
    background-image: url(../images/bg1.jpg);
    /* background- 시작속성들은 배경이미지 전용 */
    background-size: auto 200%;
    /* background-repeat: no-repeat; */
    background-position: 0 20%;/* 양수-오른쪽,위 음수-왼쪽,아래 */
    background-attachment: fixed;/* 스크롤 상관없이 고정 */
}
#slide_wrap {
    width: 549px; height: 298px;
    background-color: aqua;/* test 임시색상은 aqua, yellow 등 영문영 색상 실제 디자인 색상은 #.... 헥사코드로 입력 */
    margin: 109px auto 0;
    /* 피그마 넘친 콘텐츠 숨기기 */
    overflow: auto;
}
#slide_wrap .slide_container {
    /* 기본 너비값 100%(부모와 같음) */
    width: max-content;
}
#slide_wrap .slide_container .slide {
    width: 549px; height: 298px; display: inline-block;
}
#slide_wrap .slide_container .slide:nth-child(1) {background-color: pink;}
#slide_wrap .slide_container .slide:nth-child(2) {background-color: yellow;}
#slide_wrap .slide_container .slide:nth-child(3) {background-color: aquamarine;}
#slide_wrap .slide_container .slide:nth-child(4) {background-color: skyblue;}
#slide_wrap .prev {}
#slide_wrap .next {}
/* 슬라이드 실습 */
#best_slide_wrap {
    width: 1200px; 
    /* w(100%) h(auto(hug)) */
    margin: 100px auto 0;
    overflow: scroll;
    /* background-color: white; */
}
#best_slide_wrap h1 {}
#best_slide_wrap .slide_container {width: max-content;}
#best_slide_wrap .slide_container .slide {
    width: 600px; height: 400px;
    font-size: 3rem;
    /* display: inline-block;
    margin-right:-3px; */
    /* inline-block으로 옆으로 정렬 시 기본여백발생으로 margin-right : -3px로 제거하는 작업을 해줘야 한다. */
    /* 옆으로 나열하는 레이아웃 속성(형제관계) */
    float:left;
}
#best_slide_wrap .slide_container .slide:nth-child(1) {background-color: pink;}
#best_slide_wrap .slide_container .slide:nth-child(2) {background-color: aqua; clear:both;}
#best_slide_wrap .slide_container .slide:nth-child(3) {
    background-color: greenyellow;
    /* float: none; */
    /* float: none -> float를 모두 해제함*/
    /* clear:both; */
    /* clear:both -> 이전 형제에서 온 float를 모두 해제함 */
}
#best_slide_wrap .slide_container .slide:nth-child(4) {background-color: mediumorchid;}
#best_slide_wrap .prev {}
#best_slide_wrap .next {}
