#new_wrap {
    background-color: lightgray;
    width: 1200px; margin: 0 auto;
}
#new_wrap > h1 {
    width: 860px; margin: 0 auto;
}
#new_wrap #new_slide_wrap {
    background-color: aqua;
    width: 860px; margin: 0 auto;
    overflow: hidden;
    /* absolute 부모기준설정 */
    position: relative;
}
#new_wrap #new_slide_wrap .new_slides {
    background-color: orange;
    /* float 적용 전 자식 높이를 인식해서 자동으로 따라오는 부모 */
    /* float 적용 후 부유한 자식 요소들로 인해 높이 인식 불가 부모 */
    /* (위) 문제 해결법 -> 넘친 자식 요소들 재인식시키기 [overflow:hidden과 자식에 width 주기!] */
    overflow:hidden;
    /* 자식 요소의 전체 너비 설정 */
    /* width: max-content; */
    width:calc(860px * 4);/* calc 계산기함수사용, 연산자 좌우여백 */
}
#new_wrap #new_slide_wrap .new_slides .slide {
    border: 2px solid red;
    width: 860px; height: 450px;
    float: left;
    /* 실제 크기가 필요한 주요 요소(자식)한테 높이를 주면 그 부모 요소들은 자동으로 자식과 크기가 같아진다. */
}
#new_wrap #new_slide_wrap .new_slides .slide h1 {}
#new_wrap #new_slide_wrap .new_slides .slide a {}
#new_wrap #new_slide_wrap .new_slides .slide1 {}
#new_wrap #new_slide_wrap .new_slides .slide2 {}
#new_wrap #new_slide_wrap .new_slides .slide3 {}
#new_wrap #new_slide_wrap .new_slides .slide4 {}
#new_wrap #new_slide_wrap .prev {
    background-color: aquamarine;
    /* relative 현재위치기준 (원래 위치는 사라지지않음)*/
    /* position: relative; left:50px; top: -50px */
    /* absolute 부모위치기준 (기본부모 : body)(원래 위치를 무시하고 부유) */
    /* 기준 부모 설정은 -> 부모 position 설정 */
    position: absolute; left:0; top:45%;
}
#new_wrap #new_slide_wrap .next {
    background-color: beige;
    position: absolute; right: 0; top:45%;
}
#new_wrap #new_slide_wrap .page {
    background-color: yellow;
    position: absolute; right: 40px; bottom: 40px;
}
#new_wrap #new_slide_wrap .page .current {}
#new_wrap #new_slide_wrap .page .all {}
/* 영풍문고 독자들의 선택---------------------------------------- */
#book_select {
    background-color: bisque;
    width: 1084px; margin: 100px auto;
    position: relative; /*  이전, 다음 기준 위치 설정(부모) */
}
#book_select h1 {}
#book_select #book_slied_wrap /* 내용부모 */{}
#book_select #book_slied_wrap .slide_wrap/* 뷰포트 */ {
    width: calc(340px * 3); overflow: hidden;/* 4 */
    margin: 0 auto;
}
#book_select #book_slied_wrap .slide_wrap .slides/* 배너부모 */{;
    /* width: max-content; */
    width:calc(340px * 4);/* 3 */
}
#book_select #book_slied_wrap .slide_wrap .slides .slide {
    width: 340px; height: 472px;/* 2 */
    display: block; float: left;/* 1 */
}
#book_select #book_slied_wrap .slide_wrap .slides .slide .thumnail {
    height: 324px; padding: 40px 30px 0;
    background-image: url(https://images.unsplash.com/photo-1563291074-2bf8677ac0e5?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c29mdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: 340px auto;
    background-position: center;
    position: relative;
}
#book_select #book_slied_wrap .slide_wrap .slides .slide .thumnail::after {
    content: '';
    display: block; height: 100%; width: 100%;
    background-color:rgba(0,0,0,0.6);
    position: absolute; left:0; top:0;
    z-index: 40;
}
#book_select #book_slied_wrap .slide_wrap .slides .slide .thumnail p {
    color: #fff; line-height: 1.6;
    position: relative;
    z-index: 50;
}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info {
    height: 148px;
}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info .cover {
    float: left; margin-right: 10px;
    padding : 15px 0 0 15px;
}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info .cover img {width: 70px;}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info dl {
    float: left; padding-top: 15px;
    position: relative;/* after를 위한 부모 기준 설정하기 */
}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info dl::after {
    content: '';/* 필수 */
    display: block;/* 크기인식 */
    height: 100%; width: 100%;/* 크기값적용 */
    background-color: rgba(255, 255, 255, 0.5);/* 반투명색상 */
    position: absolute;/* 형제요소겹치기 */
    left: 0; top: 0;/* 위치설정 */
    z-index: 40;/* 형제관계 중첩순서 설정 */
}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info dl > * {
    position: relative/* z-index 설정하기 위한 준비속성 */;
    z-index: 50;/* 기준 형제보다 작은값 또는 높은값 작성 */
}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info dl dt {margin-bottom: 10px;}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info dl dd {margin-bottom: 10px;}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info dl dd img {}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info dl dd img .score {}
#book_select #book_slied_wrap .slide_wrap .slides .slide .book_info dl .review {}
#book_select #book_slied_wrap .slide_wrap .slides .slide1 {background-color:  orange;}
#book_select #book_slied_wrap .slide_wrap .slides .slide2 {background-color:  royalblue;}
#book_select #book_slied_wrap .slide_wrap .slides .slide3 {background-color:  orange;}
#book_select #book_slied_wrap .slide_wrap .slides .slide4 {background-color:  royalblue;}
#book_select #book_slied_wrap #bk_selc_prev,
#book_select #book_slied_wrap #bk_selc_next {position: absolute; top: 50%;}
#book_select #book_slied_wrap #bk_selc_prev {left: 0;}
#book_select #book_slied_wrap #bk_selc_next {right: 0;}
#book_select #book_slied_wrap .pagenation {
    background-color: yellow;  padding: 10px;
    text-align: center;/* 인라인요소 정렬 -> text-align */
    /* position: absolute; left: 50%; bottom: -5%; */
}
#book_select #book_slied_wrap .pagenation a {
    width: 8px; height: 8px; display: inline-block;
    background-color: #aaa;
    border-radius: 50%;
    
}
#book_select #book_slied_wrap .pagenation .active {
    width: 14px; height: 14px;
}
/* 영풍문고 오늘의 책 ----------------------------------------------------------------------------------*/
#today_book {
    background-color: yellow;
    width: 1084px;
    margin: 100px auto;
}
#today_book .title {
    background-color: bisque;
    overflow: hidden;/* 자식 h1, .more에 float적용으로 인해 부모 인식을 위한 속성 */
}
#today_book .title h1 {float: left; padding: 10px 0;}
#today_book .title .more {float: right; padding: 10px 0; font-size: 0.88rem;}
#today_book .contents {overflow: hidden;/* 자식 li에 float적용으로 인해 부모 인식을 위한 속성 */}
#today_book .contents li {
    /* width: 193px; */
    width: calc((100% - (29.7px * 4)) / 5);
    float: left;
    /* 옆으로 배치는 형제관계 부터 생각하기 li*/
    margin-right: 29.7px;}
#today_book .contents li:last-child {margin:0; float: left;}/* 여백초기화 */
/* #today_book .contents li:nth-child(5) {margin:0;} 여백 초기화 */
#today_book .contents li .thumnail {position: relative;}
#today_book .contents li .thumnail img {
    /* 부모 li의 너비 값이 자식, 자손 블록 기본 100%로 인해 자동적용 되는데 img는 인라인으로 자동 적용이 안되기 때문에 직접 w100%를 입력해서 부모와 너비를 같게 만들어야한다. */
    width: 100%;
}
#today_book .contents li .thumnail .popup {
    background-color: rgba(0,0,0,0.6); padding: 20px;
    /* 부모thumnail의 reltive기준으로 왼쪽 상단 위치 같음, 가로세로 크기 같음 */
    position: absolute;
    width: 100%; height: 100%; left: 0; top:0;
}
#today_book .contents li .thumnail .popup * {color: #fff;}
#today_book .contents li .thumnail .popup > a {
    line-height: 1.5;
    display: block; 
    /* height: 80%; */
    height: calc(100% - 30px);/* 서로 다른 단위도 값을 계산할 수있음 */
}
#today_book .contents li .thumnail .popup .view_cart {
    position: absolute;  left: 0; bottom: 25px; width: 100%;
    text-align: center;
}
#today_book .contents li .thumnail .popup .view_cart a {
    border: 1px solid #fff; padding: 2px 6px;
    border-radius: 4px;
}
#today_book .contents li .thumnail .popup .view_cart a:nth-child(1) {margin-right: 6px;}
#today_book .contents li h2 {}
#today_book .contents li h2 a {}
#today_book .contents li .author {font-size: 0.75rem;}