body {}
.wrap {
    margin:0 auto;
    background-color: #E9E9E9;
    width: 402px; height: 100vh;
    padding: 20px 15px;
    text-align: center;
}
.wrap h2 {}
/* 그룹선택자(,) 기준으로 선택자 RESET,  부모부터 다시쓰기 */
.wrap h2, .wrap h3 {font-size: 1.50rem; font-weight: 700; margin-bottom: 30px;}
.wrap p {}
.wrap p em {}
/* 인접형제 선택자를를 이용한 P 선택방법 + 그룹(,) */
/* .wrap h2+p em{} */
/* .wrap h2+p, .wrap h3+p {font-size:0.75rem; margin-bottom: 15px; } */
/* 수열 선택자를 이용한 P 선택방법 + 그룹(,) */
.wrap p:nth-child(2) em{color:#0000ff}
.wrap p:nth-child(2), .wrap p:nth-child(5) {font-size:0.75rem; margin-bottom: 15px;}
.wrap #content {margin: 0 0 30px;}
.wrap #content span {background-color: #FFF600;}
.wrap h3 {}
.wrap .details {}
.wrap .details em {color: #000;}