table {margin-bottom: 50px;}
#t1 {
    /* 테두리:선두께 선모양 선색상; */
    /* 테이블 전체와 열에 값이 들어가는 경우가 많음 */
    border:1px solid black;
    background-color: #eee;
}
#t1 tr {}
#t1 tr:nth-child(2) {
    /* 행기준으로 들어갈 때 사용 */
    background-color: #ff0;
}
#t1 tr th {
    border-bottom: 2px solid red;
    padding: 10px 0 15px;
}
#t1 tr th:nth-child(1) {
    /* table에서 수열 선택자를 많이 사용함 */
    border-right: 2px dotted blue;
}
#t1 tr td {
    border: 1px dotted red;
    padding: 10px;
    /* 표의 여백은 열(td, th) 적용 */
}
#t2 {
    border: 2px solid green;
    background-color: #eee;
}
#t2 tbody {background-color: #ff0;}
#t2 tr {}
#t2 tr th {
    border-bottom:2px solid green ;
    border-right:2px dotted green ;
    padding:5px 30px;
    background-color: lightgreen;
}
/* 전체 테이블 크기와 개별 열에 크기를 줬을 때 기준 */
#th2 tr th:nth-child(1),
#th2 tr th:nth-child(2) {width: 50px;}
#t2 tr td {
    border:1px solid green;
    padding: 30px;
}
/* 교보문고 도서재고 */
#kyobo {}
#kyobo h1 {}
#kyobo #book {
    background-color: #eee;
    width: 700px;
    border-radius: 20px;
}
/* 공통 열 선택자 */
#kyobo #book th,
#kyobo #book td {padding: 15px 0;}
#kyobo #book thead {}
#kyobo #book thead tr {}
#kyobo #book thead tr th {}
/* 그룹선택자 적용법 */
/* #kyobo #book thead tr th:nth-child(2),
#kyobo #book thead tr th:nth-child(3),
#kyobo #book thead tr th:nth-child(4),
#kyobo #book thead tr th:nth-child(5) {width: 80px;} */
/* 형제선택자 적용법 */
/* #kyobo #book thead tr th:nth-child(2) + th {width: 80px;} 2번 뒤에 오는 것만 - 가격만 잡아줌 */
/* #kyobo #book thead tr th:nth-child(2) ~ th {width: 80px;} 2번 뒤에서 부터 - 가격, 수령, 비고 잡아줌 */
#kyobo #book thead tr th:nth-child(2) ~ th {width: 80px;}/* 1번 뒤에서 부터 - 종류, 가격, 수령, 비고 잡아줌 */
#kyobo #book tbody {}
#kyobo #book tbody tr {}
#kyobo #book tbody tr:nth-child(2) {border: 1px solid black;}
#kyobo #book tbody tr th {
    text-align: left;
    padding-left: 15px;
}
#kyobo #book tbody tr td {
    text-align: center;
}
/* 2024년 지역별 매출현황 */
#wrap {
    width: 1620px;
    margin:0 auto;
    padding : 50px 0;
    background-color: #f5f5f5;
}
#wrap .top {
    background-color: #fff;
    margin:0 auto;
    width: 750px;
}
#wrap .top h1 {}
#wrap .top p {}
#wrap #sales {
    background-color: #ddd;
    margin: 20px auto 0;
    width: 750px;
}
#wrap #sales th,
#wrap #sales td {padding:10px 0;}
#wrap #sales thead {
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
}
#wrap #sales thead tr {}
#wrap #sales thead tr th {}
#wrap #sales thead tr th:nth-child(1) ~ th {width: 130px;}
#wrap #sales tbody {}
#wrap #sales tbody tr {}
#wrap #sales tbody tr:nth-child(4) {background-color: #bbb;}
#wrap #sales tbody tr th {}
#wrap #sales tbody tr td {text-align: center;}
/* 선불요금제 */
#phone {}
#phone #pay {
    width: 1100px;
}
#phone #pay thead {
    border: 1px solid #000;
    border-left: 0; border-right: 0;
}
#phone #pay thead tr {}
#phone #pay thead tr:nth-child(1) {
    border-bottom: 1px dashed #000;
}
#phone #pay thead tr th {padding: 20px 0;}
#phone #pay thead tr th img {width: 24px;}
#phone #pay thead tr th em {
    font-size: 0.75rem; color: #888;
    display: block;
}